body {
display: flex;
min-height: 100vh;
flex-direction: column;
background-color: #eceff1;
}

main {
flex: 1 0 auto;
}
.logo{
  font-family: 'Satisfy', cursive;
  font-size: 36px;
}
.nav{
  font-family: 'Old Standard TT', serif;
  font-size: 20px;
}
.espaciorow{
  margin-bottom: 3px;
}
.superior{
  margin-top: 3%;
}
.justificado{
  text-align: justify;
}
.tamano{
  height: 400px;
}
.sinMargen{
  margin: none;
}
.marca{
  font-family: 'Old Standard TT', serif;
  font-size: 40px;
}
.contenedor{
  width: 45%;
  height: 45%;
}
.marco{
  width: 100%;
  height: 400px;
  margin-top: 10px;
}
.caja{
  height: 300px;
  width: 300px;
  position: relative;
  animation: animacion 20s linear 1s infinite alternate;
}
@keyframes animacion {
  0%{background-image: url("../imagenes/vol1.jpg");background-size: 100%; left: 0px; top: 0px;}
  25%{background-image: url("../imagenes/sc1.jpg");background-size: 100%; left: 100px; top: 0px;}
  50%{background-image: url("../imagenes/vol2.jpg");background-size: 100%; left: 100px; top: 100px;}
  75%{background-image: url("../imagenes/sc2.jpg");background-size: 100%; left: 0px; top: 100px;}
  100%{background-image: url("../imagenes/vol1.jpg");background-size: 100%; left: 0px; top: 0px;}
}
@media (max-width: 600px) {
  .caja{
    height: 150px;
    width: 150px;
  }
  @keyframes animacion {
    0%{background-image: url("../imagenes/vol1.jpg");background-size: 100%; left: 0px; top: 0px;}
    25%{background-image: url("../imagenes/sc1.jpg");background-size: 100%; left: 150px; top: 0px;}
    50%{background-image: url("../imagenes/vol2.jpg");background-size: 100%; left: 150px; top: 150px;}
    75%{background-image: url("../imagenes/sc2.jpg");background-size: 100%; left: 0px; top: 150px;}
    100%{background-image: url("../imagenes/vol1.jpg");background-size: 100%; left: 0px; top: 0px;}
  }
}
